footer {
  background: rgb(120, 120, 120);
  padding: 10px 0;
}

#footer-div {
  text-align: center;
}

#backToTop {
  font-size: 12px;
  font-weight: bold;
  color: white;
  transition: color  0.25s;
  vertical-align: middle;
}

#backToTop:hover {
  color: rgb(150, 20, 41);
}


