.main {
  max-width: 100%;
}

#about,
#contact {
  margin-top: 80px;
}

#about,
#projects,
#contact {
  font-size: 36px;
  text-align: center;
  /*for later, if decide to change bakcgorund to black 
  color: white;*/
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.education {
  margin-bottom: 20px;
}

.card-header {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 30px 0 24px;
}

.cards-div {
  display: inline-block;
  vertical-align: top;
  max-width: 580px;
  padding: 10px 20px;
}


/*for later, if decide to change bakcgorund to black
.cards-div p {
  color: white;
}*/

.card-description {
  line-height: 20px;
}

/* for later, if needed
 .card-button {
  font-weight: bold;
  background-color: darkgray;
  padding: 6px 12px;
  border: 1px solid;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color  0.25s;
}

.card-button:hover {
  background-color: transparent;
} 

.react-text {
  font-weight: bold;
  color: rgb(8 126 164);
}

.bootstrap-text {
  font-weight: bold;
  color: rgb(113, 44, 249);
} */

.portfolio-container {
  padding-top: 30px;
  background-color: rgb(150, 20, 41);
  text-align: center;
}

.individual-container{
  position: relative;
}

/** .view-project{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  color: rgb(40, 49, 150);
  font-size: 2.4vw;
  font-weight: bold;
  background-color: rgb(128, 128, 128, 0.8);
  padding: 4px 8px;
  transition: background-color .35s ease;
  cursor: pointer;
}

.view-project:hover {
  background-color: rgb(240, 236, 236);
} **/

#projects {
  padding-top: 20px;
}

.project-type {
  text-align: center;
  font-size: 24px;
  margin: 40px 0 0;
  color: #fffffe;
  letter-spacing: 2px;
}

.portfolio-container h4{
  text-align: center;
  color: rgb(160, 160, 160);
  padding: 0 10px;
}

.portfolio-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding: 40px 20px 16px;
}

.portfolio-div a img{
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity .35s ease;
}

.portfolio-div a img:hover {
  opacity: 1;
}

form {
  text-align: center;
 }
 
 input {
   width: 500px;
   max-width: 100%;
   margin-bottom: 12px;
   outline: none;
   padding-left: 4px;
 }
 
 .form-box {
   width: 500px;
   max-width: 100%;
   height: 275px;
   vertical-align: top;
   outline: none;
   padding-left: 4px;
   margin-bottom: 20px;
 }
 
 .submit-btn {
   font-size: 24px;
   padding: 8px 16px;
   border: 1px solid;
   border-radius: 6px;
   background-color: darkgray;
   cursor: pointer;
   transition: background-color 0.25s;
   margin-bottom: 80px;
 }

 .submit-btn:hover {
  background-color: transparent;
}

@media (max-width: 880px) {
  .card-header {
    font-size: 16px;
  }

  .card-description, .skills, .testimonial-quote {
    font-size: 14px;
  }

  .portfolio-container {
    padding-top: 12px;
  }

  #about,
  #projects,
  #contact {
    font-size: 28px;
  }

  .project-type {
    font-size: 20px;
    margin-top: 25px;
  }

  input,
  .form-box {
    width: 375px;
  }

  .submit-btn {
    font-size: 20px;
    padding: 6px 14px;
  }
}

@media (max-width: 768px) {
  .cards-container {
    display: block;
    text-align: center;
  }

  .card-description {
    text-align: left !important;
  }
}

@media (max-width: 600px) {
  .portfolio-div {
    grid-template-columns: 1fr;
  }

  .pending-project{
    font-size: 4vw;
  }

  .individual-container-2 img{
    display: block;
    padding: 20px 0 5px;
  }
}

@media (max-width: 426px) {
  input {
    width: 315px;
    margin-bottom: 12px;
  }
  
  .form-box {
    width: 315px;
    height: 205px;
  } 
  
  .submit-btn {
    font-size: 16px;
  }
}

@media (max-width: 326px) {
  input {
    width: 290px;
    margin-bottom: 12px;
    outline: none;
    padding-left: 4px;
  }
  
  .form-box {
    width: 290px;
    height: 195px;
  } 
  
  .submit-btn {
    font-size: 16px;
  }
}
